.table-container {
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.bordered-container {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  transform: translateY(0) !important;
  will-change: transform;
}

.action-cell {
  button ~ button {
    margin-left: 5px;
  }
}
