<div class="d-flex flex-column flex-fill">
  <div class="row mb-2">
    <div class="col d-flex justify-content-end">
      <button mat-fab color="primary" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="bordered-container position-relative flex-fill d-flex flex-column justify-content-between" [style]="'height: 0px;'">
    <div class="table-container full-size" #tableContainer>
      <table class="w-100" mat-table [dataSource]="orders">
        <!-- items Column -->
        <ng-container matColumnDef="items">
          <th mat-header-cell *matHeaderCellDef>Items</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex flex-column">
              <span *ngFor="let item of element.items">
                <small>{{ item.product?.title }} - {{ item.quantity }} units - {{ item.price | currency }}</small>
              </span>
            </div>
          </td>
        </ng-container>

        <!-- payment Column -->
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef>Payment</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">
            <div class="d-flex flex-column" *ngIf="element.paymentCard">
              <small>{{ element.paymentCard.name }}</small>
              <small>{{ element.paymentCard.number }}</small>
            </div>
          </td>
        </ng-container>

        <!-- billing Column -->
        <ng-container matColumnDef="billing">
          <th mat-header-cell *matHeaderCellDef>Billing address</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">
            <div class="d-flex flex-column" *ngIf="element.billingAddress">
              <small>{{ element.billingAddress.firstName }} {{ element.billingAddress.lastName }}. {{ element.billingAddress.line1 }}</small>
              <small>{{ element.billingAddress.city }} - {{ element.billingAddress.state }} - {{ element.billingAddress.country }} - {{ element.billingAddress.zipcode }}</small>
            </div>
          </td>
        </ng-container>

        <!-- shipping Column -->
        <ng-container matColumnDef="shipping">
          <th mat-header-cell *matHeaderCellDef>Shipping address</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">
            <div class="d-flex flex-column" *ngIf="element.shippingAddress">
              <small>{{ element.shippingAddress.firstName }} {{ element.shippingAddress.lastName }}. {{ element.shippingAddress.line1 }}</small>
              <small>{{ element.shippingAddress.city }} - {{ element.shippingAddress.state }} - {{ element.shippingAddress.country }} - {{ element.shippingAddress.zipcode }}</small>
            </div>
          </td>
        </ng-container>

        <!-- total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">{{ getTotal(element) | currency }}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize">{{ element.status }}</td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-right">Actions</th>
          <td mat-cell *matCellDef="let element" class="action-cell text-right text-nowrap">
            <button mat-mini-fab color="warn" matTooltip="Cancel" type="button" (click)="onDelete(element)">
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="pagination-row">
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
    <app-spinner [show]="busy"></app-spinner>
  </div>
</div>